<% include header.html %>
<div class="inner">
	<div class="main" id="mainCont">
		<div class="hd">
			<% if(locals.current_user){ %>
			<div class="entry_wrap"><a href="/article/add">写文章</a></div>
			<% } %>
		</div>
		<div class="bd">
			<% if(article.length > 0){ %>
			<% include posts/list.html %>
			<% }else{ %>
			<div class="empty_data">
				<% if(!locals.current_user){ %>
				<p>暂时还没有文章</p>
				<% }else{ %>
				<p>还没有文章，赶快去<a href="/article/add">发表文章</a></p>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>
	<% include sidebar.html %>
</div>
<% include footer.html %>
