<% include ../header.html %>
<div class="inner">
	<div class="main">
		<div class="bd">
			<% if(locals.error){ %>
				<div class="">
					<%= error %>
				</div>
			<% } %>

			<section class="mod_post">
				<h4>添加文章</h4>
				<fieldset>
					<form action="/add" method="post">
						<div class="hd">
							<div class="title_wrap">
								<label for="post_title">在此键入标题</label>
								<input type="text" name="post_title" id="post_title" value="" />
							</div>
						</div>
						<div class="bd">
							<div class="post_area_wrap">
								<div>
									<div>
										<div class="post_area">
											<textarea cols="40" rows="1" class="ui_textarea" name="post_cont">
											</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ft">
							<input type="submit" name="submit" value="submit" class="bt_tx2" />
						</div>
					</form>
				</fieldset>
			</section>
		</div>
	</div>
</div>
<% include ../footer.html %>